# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
env/
.venv/
*.egg-info/
dist/
build/
*.db
uploads/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
.npm
frontend/build/

# OS
.DS_Store
.DS_Store?
._*
Thumbs.db
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# Misc
*.zip
*.tar.gz
